*{
box-sizing:border-box;
margin:0;
padding:0;
}

h2{
color:red;
font-family:Arial,sans-serif;
font-size:30px;
border-bottom:1px solid black;
padding-bottom:10px;

}


h3{
color:green;
font-family:'Courier New', Courier, monospace;
font-size:15px;
margin-bottom:10px;

}
.highlight{
    color:black;
background-color:yellow;
font-weight:bold;
padding:10px;
border:1px dashed red;}

#container{
background-color:orange;
padding:20px;
/* margin:10px; */
border:2px dashed lightblue;

}

a[target="_blank"]{
text-decoration:none;
font-weight:bold;}

a[target="_blank"]:hover{
text-decoration:underline;
color:green;}

 p{ 
color:skyblue;}

span{
color:yellow;
font-size:18px;
font-style:italic;
}
time{
    color:brown;
}


div p::firs-line{
font-weight:bold;
color:brown;
}



img{
width:250px;}

